@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.h-notfound {
  --footer: 200px;
  --header: 121px;
  height: calc(100vh - var(--header) - var(--footer));
}
.swiper-button-next,
.swiper-button-prev {
  color: rgb(181 200 56) !important;
}
